<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: html_head"/>
<body>
<div th:replace="fragments :: html_navbar"/>


<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <h4 th:text="${user.getUsername()}"></h4>
            <hr>
            <a href="/admin/index" class="btn btn-success btn-block">Home Page</a>
            <a href="#" class="btn btn-outline-success btn-block">Menu 2</a>
            <a href="#" class="btn btn-outline-success btn-block">Menu 3</a>
            <a href="#" class="btn btn-outline-success btn-block">Menu 4</a>

            <button type="button" class="btn btn-primary btn-block my-1" data-toggle="modal"
                    data-target="#exampleModal1">
                Create Template
            </button>
        </div>

        <div class="col-10">
            <h4>Content</h4>
            <hr>
            <div class="row">
                <div class="col-3" th:each="template : ${templates}" th:with="attachment=${template.attachments[0]}">
                    <img th:src="@{${'/attachment/' + attachment.id}}" class="img-thumbnail mt-1"
                         style="height: 250px"/>
                    <h3 th:text="${template.name}"></h3>
                    <p><b>Price : </b><span th:text="${template.price}" th:remove="tag"></span></p>
                    <p>Description</p>
                    <p th:text="${template.description}" th:remove="tag"></p>

                    <div class="row">
                        <a class="btn btn-outline-primary" th:href="@{${'/admin/template/' + template.id}}">View</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Template create</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" th:action="@{/template}" enctype="multipart/form-data">
                <div class="modal-body">
                    <input class="form-control" type="search" name="name" placeholder="Template name">
                    <input class="form-control my-3" type="number" name="price" placeholder="Template price">
                    <textarea class="form-control" name="description"></textarea>
                    <input class="form-control-file mt-3" type="file" name="attachment">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>